.DS_Store
node_modules/
flaskServer/config.ini
flaskServer/.cache*
clientIds.txt
flaskServer/flaskServer/flaskServer/clouds/
flaskServer/flaskServer/flaskServer/modules/config.ini
flaskServer/testFiles/config.ini
